$material-design-grey-800: #424242;
$white: #ffffff;

$material-design-red-900: #B71C1C;

$material-design-blue-500: #2196F3;

$material-design-grey-300: #E0E0E0;
$material-design-grey-200: #EEEEEE;
$material-design-grey-100: #F5F5F5;

$primary-color: $material-design-red-900;

$list-item-divider: $material-design-grey-300;
$list-item-hover-background: $material-design-grey-100;

$contact-chip-background : $material-design-grey-200;