$navbar-default-bg: $material-design-grey-800;
$navbar-border-radius: 0px;
$navbar-default-brand-color: white;

$navbar-default-link-color: white;

$grid-gutter-width: 10px;

$modal-title-padding: 10px;
