@import "_app-colours";
@import "_app-variables";
@import "_app-chips";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-color: $material-design-grey-300;
    padding-top: 105px;
    padding-left: 5px;
    padding-right: 5px;
}

.toolbar {
    background-color: white;
    padding: 5px 15px 5px 15px;
    position: fixed;
    height: 45px;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid $border-color;
}

.navbar-default {
    min-height: 50px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    border: 0;

    li {
        a {
            font-size: 1.1em;
            padding: 0 10px;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}

.navbar-header {
    padding: 0;

    .logo {
        display: inline-block;
        margin-left: 10px;
        height: 50px;
        width: 50px;
    }

    a.navbar-brand {
        color: $white;
        text-decoration: none;
        font-family: Raleway;
        font-size: 1.3em;
        padding: 0;
        margin-right: 10px;
    }

    a.span {
    }
}

.nav-tabs {
    background-color: $panel-default-heading-bg;
    border-top-left-radius: $panel-border-radius;
    border-top-right-radius: $panel-border-radius;

    > li {
        float: left;
        // Make the list-items overlay the bottom border
        margin-bottom: -1px;
        // Actual tabs (as links)
        > a {
            margin-right: 2px;
            line-height: $headings-line-height;
            font-size: 16px;
            padding: 10px;
            border: 1px solid transparent;
            color: black;
            border-radius: 0;

            &:hover {
                border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
            }
        }
        // Active state, and its :hover to override normal :hover
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: $nav-tabs-active-link-hover-color;
                background-color: $panel-default-heading-bg;
                border-bottom: 2px solid;
                border-bottom-color: $primary-color;
                cursor: default;
            }
        }
    }
}

.tab-body {
    background-color: white;
    padding: 15px;
    border-bottom-left-radius: $panel-border-radius;
    border-bottom-right-radius: $panel-border-radius;
}

.contact-list-item {
    border-top: solid 1px $list-item-divider;
    cursor: pointer;

    &:hover {
        background-color: $list-item-hover-background;
    }
}


.matter-relationship {
    border-bottom: solid 1px $material-design-grey-300;
    padding: 5px 0;
}



.matter-detail-label {
}



.sidebar {
    position: fixed;
    top: 95px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    background-color: white;
    border-right: 1px solid $border-color;
}

.sidebar-title {
    @extend .panel-title;
    font-size: 20px;
    display: inline-block;
}

.sidebar-heading {
    padding: 5px;
}

.sidebar-label {
    font-weight: bold;
    font-size: 14px;
    width: 150px;
}

.sidebar-content {
    font-size: 14px;
}
