@import "colours";
$navbar-default-bg: $material-design-grey-800;
$navbar-border-radius: 0px;
$navbar-default-brand-color: $white;

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-color: lightgray;
}

.content {
    
}

.panel {
    padding-left: 0;
    padding-right: 0;
}

.toolbar{
    background-color: white;

    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
}

.navbar-default {
    min-height: 50px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    border: 0;
}

.navbar-header {
    padding: 0;

    .logo {
        display: inline-block;
        margin-left: 10px;
        height: 50px;
        width: 50px;
    }

    a.navbar-brand {
        color: $white;
        text-decoration: none;
        font-family: Raleway;
        font-size: 1.3em;
        padding: 0;
        margin-right: 10px;
    }

    a.span {
    }
}

.nav {
    li {
        a {
            font-size: 1.1em;
            padding: 0, 10px, 0, 10px;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}

.nav-tabs {
    margin-top: 40px;
    border-bottom: 1px solid $nav-tabs-border-color;
    background-color: $panel-default-heading-bg;
    border-top-left-radius: $panel-border-radius;
    border-top-right-radius: $panel-border-radius;

    > li {
        float: left;
        // Make the list-items overlay the bottom border
        margin-bottom: -1px;
        // Actual tabs (as links)
        > a {
            margin-right: 2px;
            line-height: $line-height-base;
            border: 1px solid transparent;
            border-radius: 0;

            &:hover {
                border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
            }
        }
        // Active state, and its :hover to override normal :hover
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: $nav-tabs-active-link-hover-color;
                background-color: $panel-default-heading-bg;
                border-bottom: 2px solid;
                border-bottom-color: $primary-color;
                cursor: default;
            }
        }
    }
}

.tab-body{
    background-color: white;
    padding: 15px;
    border-bottom-left-radius: $panel-border-radius;
    border-bottom-right-radius: $panel-border-radius;
}


