<div class="toolbar">
    <button class="btn btn-success btn-sm" ng-click="vm.saveMatter()"><span class="glyphicon glyphicon-floppy-disk"></span> Create Matter</button>
    <button class="btn btn-default btn-sm">Cancel</button>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Basic Matter Details</h4>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label">Client(s)</label>
                                    <tags-input ng-model="vm.clients" placeholder="Search existing contacts" replace-spaces-with-dashes="false" add-from-autocomplete-only="true" display-property="displayName" key-property="contactId">
                                        <auto-complete source="vm.searchContacts($query)"></auto-complete>
                                    </tags-input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="control-label">Person Responsible</label>
                                    <ui-select ng-model="vm.primaryPerson">
                                        <ui-select-match allow-clear="true" placeholder="Select staff member">{{$select.selected.displayName}}</ui-select-match>
                                        <ui-select-choices repeat="user in vm.users | filter: $select.search">
                                            <div ng-bind-html="user.displayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <label class="control-label">People Assisting</label>
                                    <tags-input placeholder="Search staff members" ng-model="vm.peopleAssisting" add-from-autocomplete-only="true" display-property="displayName" key-property="userId" replace-spaces-with-dashes="false">
                                        <auto-complete source="vm.getUsers()"></auto-complete>
                                    </tags-input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Matter Type</label>
                                    <ui-select ng-model="vm.matterType">
                                        <ui-select-match placeholder="Select matter type">{{$select.matterType}}</ui-select-match>
                                        <ui-select-choices repeat="types in vm.matterTypes | filter: $select.search">
                                            <div ng-bind-html="type.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Matter Name</label>
                                    <input class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>