<div class="toolbar">
    <button class="btn btn-success" ng-click="vm.saveMatter()"><span class="glyphicon glyphicon-floppy-disk"></span> Save Matter</button>
    <button class="btn btn-default" ng-click="vm.editRelationship()"><span class="glyphicon glyphicon-plus"></span> Add Relationship</button>
    <button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add Matter Detail</button>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"> Matter Details</h4>
                </div>
                <div class="panel-body">
                    <table class="table">
                            <tr>
                                <td>Matter Name</td>
                                <td>Mumford Purchase</td>
                            </tr>
                            <tr>
                                <td>People Responsible</td>
                                <td>
                                    <button-chip img="img/plus.svg" text="Add Person"><button-chip/>
                                    <contact-chip ng-repeat="contact in matter.peopleResponsible" contact="contact"></contact-chip>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><img src="img/relationships.svg" /> Matter Relationships</h4>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <table class="table table-condensed">
                            <tr ng-repeat="relationship in vm.matterRelationships" matter-relationship="relationship">
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <matter-detail ng-repeat="detail in vm.matterDetails"></matter-detail>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"> Documents</h4>
                </div>
            </div>
        </div>
    </div>
</div>