<div class="toolbar">
    <button class="btn btn-default btn-sm" ng-click="bm.closeMatter()"><span class="glyphicon glyphicon-"></span> Close Matter</button>
    <button class="btn btn-primary btn-sm" ng-click="vm.editMatter()"><span class="glyphicon glyphicon-edit"></span> Edit Matter</button>
    <button class="btn btn-default btn-sm" ng-click="vm.archiveMatter()">Archive Matter</button>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs sidebar">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sidebar-heading">
                        <h4 class="sidebar-title">{{vm.matter.matterId}} - {{vm.matter.name}}</h4>
                    </div>
                    <table class="table table-condensed">
                        <tr><td class="sidebar-label">Matter Type</td><td class="sidebar-content">{{vm.matter.matterType}}</td></tr>
                        <tr><td class="sidebar-label">People Responsible</td><td><button class="btn btn-link" ng-repeat="staff in vm.peopleResponsible"></button></td></tr>
                        <tr><td class="sidebar-label">Client(s)</td><td><contact-chip ng-repeat="client in vm.matter.clients" contact="client"></contact-chip></td></tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-md-offset-4 col-lg-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"> Documents</h4>
                </div>
            </div>
        </div>
    </div>
</div>