<div class="container-fluid">
    <div class="row">
        <a ui-sref="contacts"><img src="" /> Back</a>
    </div>
    <div class="row">
        <div class="panel panel-default col-lg-8">
            <div class=" panel-heading">
                <h3 class="panel-title">Basic Details</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>Last Name</label>
                            <input class="form-control" ng-model="vm.lastName" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label>First Name</label>
                            <input class="form-control" ng-model="vm.firstName" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>Middle Names</label>
                            <input class="form-control" ng-model="vm.middleNamesString" />
                        </div>
                        <div class="form-group col-lg-3">
                            <label>Title</label>
                            <select class="form-control" ng-model="vm.title"
                                    ng-options="t as t for t in vm.titleOptions">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label>Date of Birth</label>
                            <input class="form-control" placeholder="dd/mm/yyyy" type="string" ng-model="vm.dateOfBirthString" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row" ng-repeat="phone in vm.phoneNumbers">
                                <div class="form-group col-lg-3">
                                    <label>Phone Type</label>
                                    <select class="form-control" ng-model="phone.phoneNumberType"
                                            ng-options="p as p for p in vm.phoneOptions">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-9">
                                    <label>Phone Number</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" name="defaultPhoneGroup" /> Preferred
                                        </span>
                                        <input class="form-control" ng-model="phone.number" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash"></span>&nbsp;</button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <button class="btn btn-default" ng-click="vm.addPhone()">Add Phone</button>
                        </div>
                        <div class="col-lg-6">
                            <div class="row" ng-repeat="email in vm.emailAddresses">
                                <div class="form-group col-lg-12">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" name="defaultEmailGroup" ng-value="email.isPreferred" ng-model="email.isPreferred" /> Preferred
                                        </span>
                                        <input type="email" class="form-control" ng-model="email.email" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger" type="button" ng-click="vm.deleteEmail($index, email)"><span class="glyphicon glyphicon-trash"></span>&nbsp;</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-default" ng-click="vm.addEmail()">Add Email</button>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-lg-3">
                            <label>Unit/Shop Number</label>
                            <input class="form-control" type="text" />
                        </div>
                        <div class="form-group col-lg-7">
                            <label>Street Address</label>
                            <input class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>Suburb</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label>State</label>
                            <input class="form-control" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Postal Code:</label>
                            <input class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default col-lg-4">
            <div class="panel-heading">
                <h3 class="panel-title">Associated Matters</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>Date of Death</label>
                            <input class="form-control" type="date" ng-model="vm.dateOfDeath" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Date of Marriage</label>
                            <input class="form-control" type="date" ng-model="vm.dateOfMarriage">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row pull-right">
    <button class="btn btn-success" ng-click="vm.saveContact()">Save</button>
    <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
</div>
