<div class="toolbar">
    <button class="btn btn-default" ui-sref="person.basic({id:0})"><span class="glyphicon glyphicon-plus"></span> Add Individual</button>
    <button class="btn btn-default" ui-sref="organisation.basic({id:0})"><span class="glyphicon glyphicon-plus"></span> Add Organisation</button>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><span class="glyphicon glyphicon-user"></span> Search Contacts</h1>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Last name, first name, organisation name..." ng-model="vm.searchString">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vm.searchContacts()"><span class="glyphicon glyphicon-search"></span> Search</button>
                        </span>
                    </div>
                    <div class="contacts-list" ng-repeat="contact in vm.contactsList">
                        <contact-list-item contact="contact"></contact-list-item>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><span class="glyphicon glyphicon-star"></span> Favourites</h1>
                </div>
                <div class="panel-body">
                    You don't have a favourite person?
                </div>
            </div>
        </div>
    </div>
</div>
