<div class="toolbar">
    <button class="btn btn-success btn-sm" ng-click="vm.saveContact()">
        <span class="glyphicon glyphicon-floppy-disk"></span> Create Contact
    </button>
    <button class="btn btn-default btn-sm" ng-click="vm.cancel()">Cancel</button>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <tabs data="vm.tabData">
            </tabs>
            <div class="tab-body"><ui-view></ui-view></div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Associated Matters</h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>