<form>
    <div class="row">
        <div class="col-lg-3 form-group">
            <label>Country of Birth</label>
            <input type="text" class="form-control" ng-model="vm.countryOfBirth" />
        </div>
        <div class="col-lg-3 form-group">
            <label>Nationality</label>
            <input type="text" class="form-control" ng-model="vm.nationality"/>
        </div>
        <div class="col-lg-3 form-group">
            <label>Date of Death</label>
            <input type="text" class="form-control" ng-model="vm.dateOfDeath" />
        </div>
        <div class="col-lg-3 form-group">
            <label>Place of Death</label>
            <input type="text" class="form-control" ng-model="vm.placeOfDeath" />
        </div>
    </div>
    <div class="row">
        


    </div>



</form>