<h4>{{vm.pageTitle}}</h4>
<button class="btn btn-success" ng-click="vm.saveStaffMember()">Save</button>
<button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
<form>
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input class="form-control" ng-model="vm.lastName" />
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input class="form-control" ng-model="vm.firstName" />
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>Middle Names</label>
                <input class="form-control" ng-model="vm.middleNames" />
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <label class="control-label">Title</label>
                <ui-select ng-model="vm.title" append-to-body="true">
                    <ui-select-match>{{$select.selected.title}}</ui-select-match>
                    <ui-select-choices repeat="title.title as title in vm.titleOptions | filter: $select.search">
                        <div ng-bind-html="title.title | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <label class="control-label">Position</label>
                <ui-select ng-model="vm.position">
                    <ui-select-match>{{$select.selected.position}}</ui-select-match>
                    <ui-select-choices repeat="position.position as position in vm.positionOptions | filter: $select.search">
                        <div ng-bind-html="position.position | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <input type="text" international-phone-number ng-model="vm.phoneNumber" default-country="au" preferred-countries="au, nz" class="form-control"/>
        </div>
    </div>
</form>



